.cpanel-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  /* background-color: #ffffff; */
  position: relative;
}

.leftbar .drawer {
  color: rgb(83, 117, 227);
  
  font-size: 2em;
  position: absolute;
  right: -15px;
  top: 20px;
  /* padding: 5px 10px; */
  /* background-image: linear-gradient(to right top, #1b56af, #1c4b9e, #1c418e, #1a377e, #172d6e); */
  /* border-radius: 5px; */
  cursor: pointer;
}
.drawer:active {
  background-color: rgb(255, 255, 255);
}

.leftbar {
  /* position: fixed; */
  left: 0;
  top: 0;
  /* position: relative; */
  /* overflow: hidden; */
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.link {
  transition: all .1s ease-in-out;
}


/* .link:hover {  
  color: white;
  background: rgb(49, 49, 182);
} */


/* .link_text:hover {
  color: white;
} */

/* .drop-down{
  width: 90% !important;
  font-size: 12px !important;
} */
.active-link {
background-color: #c7c7c7;
transition: all .3s ease-in-out;
}

.active-link-drop-down {
background-color: #c7c7c7;
transition: all .3s ease-in-out;
}



/* .active-link:hover {
  background-color: rgb(45, 118, 201);
} */

ul .hide {
  font-size: 20px;
  margin-left: 10px;
  animation: collapse-in 0.3s linear forwards;
}

@keyframes collapse-in {
  0% {
    width: 170px;
  }

  100% {
    width: 0px;
    margin: 0;
    visibility: hidden;
  }
}

.leftbar li {
  /* color: #000000; */
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
justify-content: space-between;
  font-size: 30px;
  /* background-color: bisque; */
}

.link_text {
  /* color: red; */
  font-size: 20px;
  margin-left: 10px;
  animation: collapse-out 0.3s linear forwards;
}
@keyframes collapse-out {
  0% {
    width: 0px;
  }

  100% {
    width: 170px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  /* color: red; */
}

.main-content {
  flex: 1;

  /* padding: 20px; */
  box-sizing: border-box;
  background-color: white;
}
/* .new {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 25px;
}

.new:hover {
  color: white;
} */

.showSidebar {
  animation: sidebarShow 0.3s linear forwards;
}
@keyframes sidebarShow {
  0% {
    width: 20px;
  }
  100% {
    width: 250px;
  }
}

.hideSidebar {
   width: 250px;
  animation: sidebarhide  0.3s linear forwards;
}
@keyframes sidebarhide {
  0% {
    width: 250px;
  }
  100% {
    width: 20px;
  }
}


.icon-transition {
  transition: transform 0.3s ease-in-out;
}

.rotate-right {
  transform: rotate(0deg);
}

.rotate-left {
  transform: rotate(180deg);
}