
.cpanel-container {
  display: flex;
  min-height: 100vh;
  width: 100%;  
  background-color: #fafafa;
  position: relative;
}

.blob{
  position: absolute;
  left: 100px;
  top: 0;
  /* border: 1px solid black; */
  object-fit: contain;
  height: 600px;
  /* width: 500px; */

}
.leftbar .drawer{
 font-size: 2em;
  position: absolute;
  right: 25px;
  top: 20px;
  padding: 5px 10px;
  background-color: rgb(198, 230, 230);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 1px 1px 5px rgb(233, 228, 228);


}
.drawer:active{
  background-color: rgb(128, 145, 145);
}


.leftbar {
  /* position: fixed; */
   left: 0;
   top: 0;
  /* position: relative; */
  overflow: hidden;
  height: 100%;
  background-color: #fafafa;
  padding: 20px;
  box-sizing: border-box;
 
}


.link {
  display: flex;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;

}

.link:hover {
  background-color: rgb(215, 246, 250);
}

.active-link {
  background-color: rgba(255, 0, 0, 0.14);
  width: 100%;
  border-radius: 5px;
  display: flex;

}
.active-link:hover{
  background-color: rgba(255, 0, 0, 0.249);

}

.leftbar ul {
  margin-top: 70px;
}

ul .hide{
  font-size: 20px;
  margin-left: 10px;
  animation: collapse-in .3s ease-in forwards;
}

@keyframes collapse-in{
  0%{
    width: 170px;
  }
 
  100%{
    width: 0px;
    margin: 0;
    visibility: hidden;
  }
}

.leftbar li {
  color: #020000;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  /* background-color: bisque; */
}



.link_text {
  font-size: 20px;
  margin-left: 10px;
  animation: collapse-out .3s ease-in forwards;
}
@keyframes collapse-out{
  0%{
    width: 0px;
  }
 
  100%{
    width:170px;
    
  }
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;

}

.main-content {
  flex: 1;
  /* padding: 20px; */
  box-sizing: border-box;
  background-color: #f4f4f4;
}
